/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* My Code Starts Here */
body {
  /* (10/16)*100 = 62.5% */
  /* sets 10 px to 1rem for responsive text */
  font-size: 62.5%;
  /* 1 rem = 10px */
}
/* Jtonna's Studio Color pallete. */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
.container {
  height: 100%;
  font-size: 1.4rem;
  font-family: 'Open Sans', sans-serif;
  color: #1E152A;
}
.nav-container {
  background-color: #30343F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5rem 0.5rem;
}
.nav-container .logo-container .logo {
  width: 8rem;
}
.nav-container .nav a {
  text-decoration: none;
  color: #FAFAFF;
  padding: 0 0.8rem 0;
}
.nav-container .nav a:hover {
  color: #B2ABF2;
}
.main-content-container {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.me {
  width: 5rem;
}
.section1 {
  padding: 2.5rem 0 0;
  border: 1px solid red;
  display: flex;
  align-content: flex-start;
}
.section3 {
  padding: 2.5rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section3 .appsAndTools {
  padding: 1.5rem 0 0;
}
.section3 .appsAndTools img {
  height: 2.5rem;
  width: 2.5rem;
}
.footer {
  text-align: center;
}
